/* .app {
  display: flex;
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.todo-title {
  text-align: left;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todoItem {
  display: flex;
}
.todolist button {
  height: 40px;
}

form input {
  width: 300px;
  text-align: left;
}
form{
  display: flex;
} */